<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div id="cupcakes-container">
      <!-- Cupcake list goes here-->
  </div>
  <form action="">
    <label for="flavor">Flavor: </label>
    <input type="text" id="flavor" name="flavor">
    <label for="size">Size: </label>
    <input type="text" id="size" name="size">
    <label for="rating">Rating: </label>
    <input type="text" id="rating" name="rating">
    <label for="image">Image: </label>
    <input type="text" id="image" name="image">
    <input type="submit" value="Submit">
  </form>
  <script src="/static/cupcakes.js"></script>
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
</body>
</html>